"*":
  core:
    audioBeep: false
    disabledPackages: []
    projectHome: "/Users/Jonathan/Documents"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 13
    lineHeight: 1.7
    preferredLineLength: 150
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "5b31cdd1-aee4-b697-eeff-9dcd1dd6815e"
  "file-icons":
    forceShow: true
  minimap:
    plugins:
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "terminal-plus":
    style:
      theme: "dracula"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 150
